#filter-bar {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: $light;
	margin: 0 auto;
	margin-top: -2rem;
	border-radius: 15px;
	padding: 1rem 2rem;
	box-shadow: 0px 5px 5px $secondary;
	position: relative;
	z-index: 1;

	.filtered-tags {
		display: flex;
		width: 100%;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
	}

	.filtered-tag {
		background-color: $bg_color;
		color: $primary;
		padding-left: 0.5rem;
		border-radius: 5px;
		overflow: hidden;
		margin-right: 1rem;

		.close {
			background-color: $primary;
			padding: 0.5rem;
			margin-left: 0.5rem;
			display: inline-block;
			color: $light;
			transition: 0.3s;

			&:hover {
				background-color: $dark;
				cursor: pointer;
			}
		}
	}

	button {
		background-color: transparent;
		border: none;
		color: $primary;
		font-weight: 700;
		font-family: $primary_font;
		transition: 0.3s;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
