*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: $normal_font_size;
	background-color: $bg_color;
}

@mixin mobile {
	@media (max-width: 500px) {
		@content;
	}
}
