@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

// Colors
$primary: hsl(180, 29%, 50%);
$secondary: hsl(180, 8%, 52%);
$dark: hsl(180, 14%, 20%);
$light: #fff;
$bg_color: hsl(180, 52%, 96%);
$filter_tablets: hsl(180, 31%, 95%);

// Font-family
$primary_font: "Spartan", sans-serif;

// Font-size
$normal_font_size: 15px;
